.mi-chip{
display: inline-block;
border-radius: 25px;
text-align: center;
height: 32px;
width: 75px;
vertical-align: middle;
font-weight: normal;
cursor: pointer;
line-height: 32px;
margin: 5px 2px

}


